body{
    background-color: black;
}

#anuncio{
    margin-top: 20%;
    color: white;
    text-align: center;
}

table{
    border: 5px solid black;
    height: 100%;
    width: 100%; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0;
    right: 0;
    border:1px "solid";
  }

  tr, td{
      border: 5px solid black;
  }